.hello {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 132px);
  // .hello__title
  &__title {
  }

  // .hello__text
  &__text {
  }
}