.mapForm {
  // .mapForm__item
  &__item {
    margin: 0 0 8px 0;
    &:nth-child(1) {
      margin: 0;
    }
  }

  // .mapForm__divider
  &__divider {
    margin: 5px 0;
  }

  // .mapForm__buttons
  &__buttons{
    display: flex;
    justify-content: space-between;
    //justify-content: flex-end;
  }
  // .mapForm__button
  &__button{
    border-color: #CC2222;
    background-color: #CC2222;

    &:hover,&:focus {
      border-color: #FA2222;
      background-color: #FA2222;
    }
  }
  &__button-reset{
    border-color: #CC2222;
    background-color: transparent;
    color: #CC2222;

    &:hover,&:focus {
      border-color: #FA2222;
      background-color: transparent;
      color: #FA2222;
    }
  }
}

.sidebar{
  //&__exportButton {
  //  border-color: #CC2222;
  //  background-color: transparent;
  //  color: #CC2222;
  //
  //  &:hover,&:focus {
  //    border-color: #FA2222;
  //    background-color: transparent;
  //    color: #FA2222;
  //  }
  //}
}

.ant-form-vertical .ant-form-item-label, .ant-col-24.ant-form-item-label, .ant-col-xl-24.ant-form-item-label {
  padding: 0;
}