.mapForm {
  padding: 7.5px;

  // .mapForm__item
  &__item {
    margin-bottom: 10px;
  }

  // .mapForm__divider
  &__divider {
    margin: 10px 0;
  }

  // .mapForm__buttons
  &__buttons{
    display: flex;
    justify-content: flex-end;
  }
  // .mapForm__button
  &__button{
    border-color: #CC2222;
    background-color: #CC2222;

    &:hover,&:focus {
      border-color: #FA2222;
      background-color: #FA2222;
    }
  }
}