.customTable {
  height: calc(100vh - 244px);

  tbody {
    height: calc(100vh - 244px);
    tr {
      td {
      }
    }
  }
}

.ant-spin-spinning {
  max-height: none;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
  top: 50%;
  left: 49.55%;
}