.customTable {
  height: calc(100vh - 244px);
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(#333, .4);
    border: 3px solid transparent;
    border-radius: 4px;
  }
  tbody {
    height: calc(100vh - 244px);
    tr {
      td {
      }
    }
  }
}

.ant-spin-spinning {
  max-height: none;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
  top: 50%;
  left: 49.55%;
}