.customTable {
  height: calc(100vh - 224px);
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(#333, .4);
    border: 3px solid transparent;
    border-radius: 4px;
  }
  tbody {
    height: calc(100vh - 202px);
    tr {
      td {
      }
    }
  }
}

.ant-table-thead {
  height: 77px;
}

.empty {
  // .empty__main
  &__main {
    margin: 16px 0;
  }

  // .empty__Button
  &__Button {
    transition: border-color .4s 0s;
    &:hover,&:focus {
      border-color: #FA2222;
      color: #FA2222;
    }
  }
}