
.map {
  min-height: calc(100vh - 132px);

  // .map__sidebar
  .sidebar {
  }

  // .map__content
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
  width: 100%;
  // .content__loader
  &__loader {
    font-size: 50px;
    color: #CC2222;
  }

  // .content__iFrame
  &__iFrame {
    height: calc(100vh - 132px);
    border: 0;
  }
}