
.map {
  min-height: calc(100vh - 132px);
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(#333, .4);
    border: 3px solid transparent;
    border-radius: 4px;
  }

  // .map__sidebar
  .sidebar {
    padding: 5px 10px 10px 10px;
    max-height: calc(100vh - 132px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  // .map__content
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
}