
.map {
  //levitating
  position: relative;
  //===========

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #bbbbbe;
    border: solid 4px transparent;
    border-radius: 14px;
  }

  // .map__sidebar
  &__sidebar {
    //padding: 5px 10px 10px 10px;
    //max-height: calc(100vh - 132px);
    //overflow-y: scroll;
    //overflow-x: hidden;

    //levitating
    //position: sticky;
    //z-index: 101;
    //width: 220px;
    //background-color: #fff;
    //border-radius: 15px;
    //top: 0;
    //left: 0;
    //margin-left: 15px;
    //margin-top: 15px;
    //border: 1px solid lightgray;
    //===========
  }

  // .map__content
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //levitating
  &__YMaps{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  //===========
}